#logo{background-image:url(IMG/LOGO.PNG);background-repeat:no-repeat;width:200px;height:80px}
.d{background:url(data:image/png;base64,iVBORw0KGgo=) no-repeat;color:#c00}
.e{background:#ddd url("IMG/TILE.PNG") repeat;min-height:60px}
